spring:
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
  kafka:
    consumer:
      auto-offset-reset: earliest
